
.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
.scroll-pane > .corner {
    -fx-background-color: black;
}
.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}


.choice-box .context-menu { -fx-background-color: #0233ae; }

.choice-box .menu-item:focused { -fx-background-color: black; }

.choice-box .menu-item > .label { -fx-text-fill: white; }

.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.choice-box {
    -fx-background-color: #0233ae;
    -fx-mark-color: white;
}


.choice-box > .label { -fx-text-fill: white; }

.textt
{

    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "lightcyan";
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, lightcyan, 3, 0.1, 1, 1)
}
.textt2
{

    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "white";
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, white, 3, 0.1, 1, 1)
}
